<nav class="navbar navbar-expand-lg navbar-light bg-light px-5 mb-5">
  <a class="navbar-brand font-weight-bolder" href="{{url_for('home_page')}}"
    >CP Marathon</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarText">
    <ul class="navbar-nav d-flex gap-2">
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('home_page')}}">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('users_page')}}">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('ratings_page')}}">Ratings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('leaderboard_page')}}"
          >Leaderboard</a
        >
      </li>
    </ul>
  </div>
</nav>
