
<nav class="navbar navbar-expand-lg bg-body-tertiary rounded">
    <div class="container-fluid">

      <div class="collapse navbar-collapse d-lg-flex">
        <h4 class="col-md-6">CodeForces Kamand Prompt</h4>
        <ul class="navbar-nav col-md-6 justify-content-between">
          <li class="nav-item">
            <a class="btn btn-outline-primary" aria-current="page" href="{{url_for('home_page')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-primary" href="{{url_for('users_page')}}">Users</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-primary" href="{{url_for('ratings_page')}}">Ratings</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-primary" href="{{url_for('leaderboard_page')}}">Leaderboard</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
