<nav class="navbar navbar-expand-lg bg-body-tertiary rounded">
  <div class="container-fluid">
    <h4 class="navbar-brand col-md-6">CodeForces Kamand Prompt</h4>
    
    <!-- Toggler button for mobile view -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation" style="border-color: #000;">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar content -->
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav col-md-6 justify-content-between">
        <li class="nav-item">
          <a class="btn btn-outline-primary" aria-current="page" href="{{url_for('home_page')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-primary" href="{{url_for('users_page')}}">Users</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-primary" href="{{url_for('ratings_page')}}">Ratings</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-primary" href="{{url_for('leaderboard_page')}}">Leaderboard</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
