{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center mb-4">Codeforces Users</h1>
    <div class="container my-5">
        <div class="row">
            {% for user in users %}
            <div class="col-md-4 mb-4">
                <div class="user-card">
                    <img src="{{ user['avatar'] }}" alt="{{ user['handle'] }}">
                    <div class="info">
                        <h5 class="text-center"><a href="https://codeforces.com/profile/{{ user.handle }}">@<stronpfpg>{{ user.handle }}</strong></a></h5>
                    </div>
                    <div class="details text-center">
                        <h5 class="card-title">{{ user.firstName + " " + user.lastName}}</h5>
                        <p>Rating: <strong>{{ user['rating'] }}</strong></p>
                        <p>Max Rating: <strong>{{ user['maxRating'] }}</strong></p>
                        <p>Rank: <span class="badge badge-primary">{{ user.rank }}</span></p>
                        <p>Organization: {{ user['organization'] }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}