<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codeforces Users</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Codeforces Users</h1>
        <div class="row">
            {% for user in users %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ user.avatar }}" class="card-img-top" alt="Profile Picture">
                    <div class="card-body">
                        <h5 class="card-title">{{ user.firstName + " " + user.lastName}}</h5>
                        <p class="card-text"><a href="https://codeforces.com/profile/{{ user.handle }}">@<stronpfpg>{{ user.handle }}</strong></a></p>
                        <p class="card-text">Organization: {{ user.organization }}</p>
                        <p class="card-text">Rank: <span class="badge badge-primary">{{ user.rank }}</span></p>
                        <p class="card-text">Max Rating: <strong>{{ user.maxRating }}</strong></p>
                        <p class="card-text">Current Rating: <strong>{{ user.rating }}</strong></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
